<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .parent {
        background-color: gray;
        width: 500px;
        height: 500px;
        position: relative;
      }

      .childd {
        width: 150px;
        height: 150px;
        color: black;
        /* background-color: red; */
        position: absolute;
        top: 0;
        font-size: larger;
      }

      .childd:nth-child(1) {
        background: rgb(5, 196, 5);
        z-index: 1;
        top: 20px;
        left: 20px;
      }
      .childd:nth-child(2) {
        background: rgb(102, 0, 128);
        z-index: 1;
        top: 40px;
        left: 40px;
      }
      .childd:nth-child(3) {
        background: rgb(128, 109, 0);
        z-index: 0;
        top: 60px;
        left: 60px;
      }
    </style>
  </head>
  <body>
    <div class="parent">
      <div class="childd">child</div>

      <div class="childd">child</div>

      <div class="childd">child</div>
    </div>

    <p>
      Lom ipsum dolor sit amet consectetur adipisicing elit. Modi quae qui
      accusantium, voluptatum culpa doloremque quam, maiores labore veniam
      distinctio voluptates facere iste autem perferendis iure ratione doloribus
      a reiciendis! Provident consr nemo velit sapiente dicta vitae totam
      repellendus aut enim fugiat dolorem excepturi ut, facilis molestiae autem?
      Libero corporis maxime quisquam cupiditate iure mollitia quam officiis
      nesciunt vel ab! Tempora, asperiores. Cupiditate aspernatur minima aliquam
      sapiente corrupti reiciendis, optio, laborum odio quo vel dicta nostrum
      ullam harum soluta minus obcaecati eveniet expedita modi veritatis enim
      eligendi eum eius voluptates. Cumque, repellat dolores ad veritatis
      eligendi laborum culpa maxime fugit ducimus ipsum obcaecati molestiae
      totam. Itaque sapiente asperiores obcaecati nisi vel vitae natus
      aspernatur autem earum! Vel repellendus eveniet eos. Magni tempore maiores
      placeat dolor. Doloremque natus eaque vel nulla rerum laudantium saepe
      officiis aliquam veritatis. Dolores ducimus maiores porro distinctio
      temporibus, velit, possimus accusantium pariatur explicabo magni alias
      inventore? Quisquam at deserunt, iure modi minus nam! Aliquid facere,
      culpa nobis, fugiat nisi aut animi est a molestias esse expedita eos
      repellat ratione. Eius beatae illo debitis quis excepturi animi? Ipsum
      laboriosam beatae quod omnis eaque, minima ullam. Laboriosam reiciendis
      adipisci cumque. Facere, sapiente? Laudantium a totam fugiat, ullam
      repellat odio est magni minima, eaque repellendus debitis in commodi enim?
      Rem voluptates illo cum quis magni quas, recusandae ipsa magnam nobis
      officiis, similique laudantium eius. Quaerat aut facere beatae, culpa enim
      alias minima ullam sapiente, praesentium totam neque a ea. Impedit harum
      odit corporis, id adipisci, rem fugit a cupiditate rerum vitae doloremque,
      veritatis placeat saepe. Autem expedita repudiandae placeat quas quo
      corrupti quae dolorum asperiores totam officiis, quidem sequi. Incidunt,
      dicta laboriosam sint rerum ab laudantium ad ipsum ullam inventore
      mollitia eveniet quia architecto veritatis illum eum ea magnam repellat?
      Optio maxime nesciunt ullam natus architecto quasi est similique.
      Assumenda porro ullam provident, inventore voluptate, fuga similique
      reprehenderit cupiditate, placeat accusamus corporis ipsam necessitatibus
      pariatur voluptatem repellat praesentium commodi! Deserunt iure nihil
      perspiciatis atque quibusdam exercitationem blanditiis, fugiat earum.
      Pariatur amet itaque saepe earum aperiam illum dolore officiis odit hic
      delectus debitis quasi id esse, quae adipisci molestiae, facere atque
      accusantium animi corporis tempora molestias. Id accusamus natus odio.
      Quisquam magnam, id error autem sunt nobis suscipit dicta repellat
      laudantium minus excepturi magni! Quos itaque, cum sint quisquam inventore
      officiis id ullam voluptates excepturi nihil possimus, iste corrupti
      cumque? Ex, possimus obcaecati labore doloremque aliquam inventore quasi
      quaerat voluptate accusantium esse animi iure laboriosam. Numquam dicta
      voluptate accusamus a alias voluptatem temporibus, provident illo rerum,
      omnis qui eveniet nam. Nisi dolorum rerum temporibus vel autem quas in
      debitis ratione earum! Dicta adipisci eveniet, numquam est asperiores
      rerum odit quidem consectetur a, impedit nihil dolorum quos. Dicta
      perferendis excepturi ullam. Pariatur voluptatem adipisci harum facere
      officia voluptates non molestias, alias dolor omnis aut aliquid natus odit
      obcaecati reiciendis ipsam cupiditate doloremque! Temporibus ducimus
      magni, nostrum mollitia atque pariatur iure provident. Tempora aliquid
      suscipit fuga. Beatae a doloremque sit aspernatur, maiores hic quis
      minima? Laborum sint odio aspernatur quis autem cum, magnam eum sit porro
      explicabo, possimus expedita dolorem repellendus vero? Voluptates deserunt
      consequatur cum, quod assumenda praesentium eum similique reiciendis
      quaerat, voluptas dolorem. Exercitationem omnis eos distinctio facilis
      suscipit blanditiis id dolore voluptas placeat aliquid? Explicabo mollitia
      perferendis facere rerum. Molestias perferendis sapiente, modi harum
      blanditiis temporibus animi quia omnis! Dolores quam excepturi quia est
      veritatis nesciunt totam dignissimos facilis culpa, accusamus vel ex sit?
      Blanditiis maxime quia iusto voluptatum. Aut soluta omnis, optio tempore
      sed at suscipit nobis dicta alias hic totam numquam ratione accusantium
      illo temporibus molestias officiis eius id, consectetur similique
      asperiores velit magni perferendis deserunt? Itaque! Consectetur dicta
      minima dolore sapiente, assumenda fugit animi atque amet nam in magnam
      nobis eos? Facilis, error dolore. Vero nemo dignissimos adipisci pariatur.
      Ipsa temporibus velit maiores fuga repellat neque. Nam ex quod nulla
      mollitia sunt magni, velit quam sed voluptate culpa at vero saepe repellat
      placeat consequuntur reprehenderit. Ex quis nemo illo doloremque quidem id
      porro dolorem, nulla officia! Perspiciatis dignissimos, quisquam pariatur
      velit harum provident eligendi eaque et quaerat vitae reprehenderit
      ratione minus corporis esse sint perferendis totam? Veritatis, veniam?
      Unde expedita pariatur repellendus quae. Doloremque, rerum dolorum.
      Doloribus repellat doloremque culpa! Nobis aperiam molestias rerum laborum
      voluptatibus, eos ut ad suscipit provident modi! Animi delectus excepturi,
      ratione sit et explicabo, error qui earum officiis dignissimos nihil
      reprehenderit? Aspernatur a tempora quasi vel, ipsum magni blanditiis
      mollitia dicta debitis ratione minus harum, libero aperiam magnam
      laboriosam et. Nesciunt ullam dolores laboriosam quos, reiciendis
      obcaecati eos veniam eveniet doloremque. Sit perspiciatis minima placeat
      quas vel eveniet ullam distinctio rerum cumque saepe, doloremque possimus
      et impedit reprehenderit earum ea voluptatem blanditiis maiores omnis
      dolorem! Perferendis distinctio beatae commodi ullam aperiam? Modi sunt
      enim iure fuga. Excepturi magnam tempore accusantium corporis voluptate
      voluptates laboriosam debitis possimus minus ipsa nam similique sapiente
      adipisci nostrum doloribus, sint nihil magni animi rerum! Amet,
      distinctio. Iusto obcaecati suscipit dolorem recusandae voluptatibus quis
      earum harum deleniti, dolor doloremque consequatur veritatis itaque aut
      omnis, reiciendis optio ipsam non. Culpa fuga vitae repellat obcaecati
      error cum nobis iure? Velit repellendus fuga blanditiis minima quae
      officiis magnam eos! Totam, architecto. Minima obcaecati sed quasi
      quisquam autem nostrum aliquam dolorem accusantium eos. Dolorum laudantium
      et tenetur quibusdam, perferendis quo libero. Molestias vitae dolores,
      cumque sed perferendis libero ex accusantium reprehenderit sunt natus
      harum laudantium alias nam ipsa. Ipsa ratione consequuntur odio beatae
      tempore, in quibusdam ipsum cupiditate, maxime voluptatem eos. Distinctio
      corporis porro doloribus? Beatae assumenda, possimus fuga ducimus quis
      pariatur reprehenderit labore aspernatur, illo facere reiciendis velit
      voluptatibus quisquam quidem laudantium adipisci, eaque quod sunt officiis
      repellendus magnam. Illum. Porro ad vero blanditiis iusto fugiat saepe?
      Aperiam dignissimos laudantium assumenda reprehenderit corrupti. Obcaecati
      excepturi doloribus, consequatur veniam accusantium harum fugit quam
      adipisci commodi assumenda, nesciunt magnam maxime unde ex. Quia nesciunt
      commodi dolore cumque aliquam quas consequatur alias illum dicta molestias
      eius harum dolores deleniti earum, consectetur natus optio. Eaque cumque
      reprehenderit minima labore minus molestiae unde ipsam nesciunt! Repellat,
      quasi necessitatibus officiis provident dignissimos placeat autem
      aspernatur qui hic quos sint a error adipisci magnam illo deleniti.
      Voluptatibus vero reiciendis corrupti asperiores ex ipsam odio, molestias
      eveniet culpa? Doloremque quis ullam laborum veritatis, voluptate maxime
      quasi aperiam similique autem molestias earum animi iure sunt suscipit
      dolores tempora! Temporibus dolore expedita accusantium iste, maiores est
      repudiandae fugiat natus beatae? Ipsa neque perferendis repellendus
      accusamus, fugiat fuga iure quidem error vero maiores animi ea architecto,
      atque illum! Facere a, deleniti sunt delectus voluptatibus minima corporis
      velit placeat asperiores inventore impedit. Doloremque quibusdam, optio
      repudiandae qui consectetur mollitia et sequi, at eaque, nihil distinctio
      sunt iste iure tenetur itaque. Quos, officia! Corporis hic ducimus soluta
      amet quisquam necessitatibus. Consequatur, cumque placeat. Beatae tempore
      est culpa repellat blanditiis laudantium optio quo quos totam, nostrum
      magnam aperiam, animi dolores ea voluptatem molestiae vero temporibus
      itaque provident a aut nam voluptatibus! Voluptatem, vero aspernatur. At,
      ratione in veritatis ea delectus eligendi tempora minus illum assumenda
      aliquam nisi! Explicabo earum sapiente cum aspernatur consectetur, nihil
      reiciendis dolores praesentium quidem molestiae tenetur dolore saepe
      voluptatibus? Vero. Illum voluptas nemo blanditiis eaque minus,
      repudiandae, quasi tempora quam vero laborum sed earum obcaecati rem esse
      adipisci cupiditate molestiae optio recusandae quae! Laudantium enim unde
      quisquam necessitatibus obcaecati facilis! Expedita, maxime corporis?
      Voluptates, dolores eveniet. Dignissimos, aspernatur! Corrupti
      voluptatibus ipsam at? Blanditiis tempore culpa quam, corporis aut, at,
      itaque veritatis ullam laborum qui autem earum cumque maxime debitis
      facere? Laborum placeat illum facilis, totam aperiam itaque vel cupiditate
      magni quaerat, labore ipsa facere perferendis ad molestiae impedit enim
      sequi doloremque, atque nobis? Ut magni dolor autem, blanditiis eum
      repellat. Inventore quis, vel dolor doloremque nostrum minima perferendis
      odit culpa consequuntur voluptatum illum ut maxime natus? Odit eveniet
      iste deleniti explicabo, obcaecati impedit aliquid perferendis nam fugiat
      laboriosam corporis necessitatibus? Accusamus non reiciendis vel
      repellendus, dicta, sed omnis natus officia quam nisi quo veniam quia
      error incidunt itaque voluptate? Omnis nulla neque sunt animi rerum
      provident asperiores porro nihil ullam! Doloremque numquam harum magnam
      omnis autem ad pariatur eaque consequatur deserunt praesentium
      reprehenderit repudiandae similique culpa ex saepe aperiam delectus facere
      maiores, quod explicabo repellat! Architecto sit voluptas voluptatibus
      debitis. Facere cum explicabo autem quis recusandae. In inventore vel
      aliquid veritatis saepe assumenda dolorem nam non provident! Deserunt, est
      maiores illum magnam odio officiis ipsam, illo dicta dignissimos ut vitae?
      Sint deleniti dignissimos quia minus! Aliquam fuga non, qui fugiat
      repellat est illo doloremque iusto impedit hic rerum quibusdam debitis
      obcaecati eos nesciunt natus adipisci ratione praesentium. Ullam, corrupti
      laudantium! Numquam, quod sint repellat amet sed eos quia delectus
      molestiae similique, porro et vitae quae omnis inventore laudantium
      adipisci tempora labore hic modi quisquam tenetur, corporis fugit. Qui,
      labore animi? Quaerat tempora expedita vitae aliquid quas laboriosam nihil
      repellendus magnam doloremque, dolorem, deleniti esse at, ut sit unde
      adipisci quae! Officia facere soluta quos cum ad asperiores accusamus?
      Voluptatum, officiis. Dolorum iure sunt suscipit nihil ab alias nesciunt,
      tempore, fugiat fuga at quam porro? Maiores distinctio mollitia numquam ut
      officia nobis nihil assumenda quas itaque saepe! Dolores corrupti itaque
      blanditiis? Animi iusto a et atque distinctio odio fuga, similique nisi
      quidem modi necessitatibus fugit consequatur repudiandae libero at ea illo
      dolorum incidunt pariatur alias, officiis vero enim temporibus. Veniam,
      officia. Provident dolore quos assumenda distinctio illum error facilis
      accusamus, commodi id accusantium ea hic laborum aliquam, fugiat, delectus
      consequuntur? Sed qui rem atque dicta suscipit molestiae perspiciatis
      doloribus laudantium voluptates. Doloribus, ex a saepe molestiae itaque
      tempore sint et consequuntur adipisci velit est repellendus ad recusandae
      laborum optio, tenetur quibusdam commodi. Reprehenderit eveniet quod animi
      praesentium officia nisi voluptas voluptatibus. Vel nemo debitis in porro,
      odit, consectetur modi sequi aut ut, rerum iusto ad obcaecati illum
      cupiditate culpa odio quasi dolor voluptas corrupti! Aperiam officia
      expedita unde officiis iure animi. Maxime temporibus deleniti placeat! Quo
      dolorem est modi maiores vel voluptas nihil vero maxime rem necessitatibus
      voluptatum dolorum magnam eius suscipit odio, earum saepe possimus
      laboriosam pariatur fugit non deserunt? Enim earum totam fugiat ab
      voluptatum, beatae ad, recusandae ipsa voluptate iusto a eaque doloribus
      tempora hic, rem nemo veritatis nobis! Earum eveniet est nihil dolore esse
      dolorem! At, distinctio. Similique ea sequi vitae debitis voluptatem
      molestias voluptatibus cumque obcaecati eligendi enim alias ullam, quidem
      beatae quod dolore voluptate qui itaque fugiat? Illo soluta mollitia, nemo
      pariatur vel magnam accusamus. Quam veritatis sequi eius at asperiores!
      Quidem hic distinctio debitis, numquam placeat ipsam quaerat. Recusandae,
      impedit id rem quod sequi quas at ut, officiis perspiciatis ab rerum,
      obcaecati ducimus mollitia? Dolor dignissimos harum dicta eveniet veniam,
      accusantium quos ipsa iusto illum. Veniam aut a ullam error, fuga aliquid
      enim maxime architecto possimus. Distinctio eaque esse magni, illum
      repudiandae adipisci exercitationem. Impedit esse perspiciatis animi sunt
      nostrum corporis dolor! Perferendis adipisci iure a sit voluptatem quas
      aut iusto inventore assumenda enim, maiores voluptatum! Vitae accusantium,
      distinctio dolores accusamus omnis facere. Et. A sint voluptas aliquam
      sed, nulla excepturi nemo dignissimos dolor voluptates tenetur incidunt,
      unde amet magnam error nisi corporis voluptatem inventore molestiae
      consectetur. Quas a facere ipsam eius odit tempore. Magnam vitae est
      perspiciatis numquam itaque non mollitia doloremque officiis voluptate
      repellat a, repudiandae ratione molestias iure eligendi amet, cupiditate
      ea! Soluta reprehenderit magni ullam voluptate, velit fugit quasi
      recusandae. Assumenda sunt dolores odio quaerat harum dicta ea quod id
      laboriosam voluptatibus ratione officia minus itaque placeat laborum
      pariatur dolorem, quidem reprehenderit delectus labore nesciunt fugiat
      amet ad quo. Ipsa. Nesciunt blanditiis eos consequuntur obcaecati
      laboriosam deleniti illum recusandae quasi et culpa molestiae soluta
      dolore voluptatem porro error, maxime voluptates eius tempora accusamus
      quis, delectus quo atque corporis mollitia. Magni. Aut assumenda
      consectetur nisi ut delectus minima laborum magnam ipsum dignissimos
      aliquid velit suscipit, aperiam voluptatibus sit, libero incidunt
      reprehenderit ipsam ab, voluptate eveniet amet optio doloremque? Ea,
      molestiae quod! Expedita amet eos exercitationem deleniti ullam nostrum
      maxime culpa et, quod enim reiciendis placeat velit fugit quibusdam
      aspernatur veritatis labore ab illum dolorum fuga in ea. Quia a quisquam
      veritatis? Consectetur, repellendus saepe. Doloremque placeat repudiandae
      ipsa vero nesciunt reiciendis nobis minus quas distinctio aperiam numquam
      labore nostrum quod et repellendus, iste, itaque obcaecati? Error quaerat
      veniam ratione natus eligendi. Possimus nihil iusto suscipit illo
      perferendis voluptates explicabo, laborum commodi voluptatem tempora
      excepturi aut minima, sunt velit maiores natus eum. Eveniet, id iusto.
      Odit laborum inventore hic totam quae consequatur! Possimus laboriosam
      quidem officiis totam incidunt consectetur labore ipsa nostrum voluptas
      reprehenderit? A commodi corrupti hic. Nisi animi ad beatae praesentium at
      aperiam natus sequi. Cumque neque nobis ducimus quasi. Exercitationem
      harum est doloremque eum fugiat suscipit rem dolor autem a aliquam, nobis
      ipsum. Cumque optio ratione odit vel qui placeat nam voluptatibus esse!
      Voluptatem modi dicta odit ducimus tempore? Sequi quos necessitatibus,
      reiciendis incidunt totam modi beatae provident aperiam est illo
      accusantium temporibus asperiores ipsam iste officiis dolore, voluptates
      magni dolorum praesentium rerum a! Temporibus dolore provident est sint?
      Quod odio, delectus tempore excepturi quasi porro dolores cum deleniti
      blanditiis fuga nesciunt quisquam animi magni deserunt eius maxime? Optio
      voluptatum dolorem deserunt laboriosam at reprehenderit autem quidem
      aliquam eaque. Qui molestias iure unde minima. Odit ea ab, debitis omnis
      dolor magni sunt quod sapiente, perspiciatis optio hic illum earum. Ipsum
      nesciunt at tempore! Minima, eius fugit. Aut, maxime officiis! Aliquid
      quos similique omnis, alias minus illo nam hic tempore laborum porro, sed
      molestias quam provident asperiores ipsam nostrum in esse error? Est sint
      voluptate recusandae nam doloremque labore veritatis? Magni accusantium,
      asperiores quisquam quo doloremque aperiam odit laborum omnis repellat
      temporibus molestias quibusdam illo dignissimos? Recusandae, neque illo?
      Magni voluptatibus dolorem aut, dolore earum et hic quidem delectus fuga?
      Magnam sed aut minima ut est ab perferendis ipsum ea quidem, ratione
      voluptas nulla quis, fugit dicta officiis et ipsa distinctio. Voluptatem
      voluptate eligendi atque culpa cumque nostrum laborum natus. Placeat
      expedita iusto, libero doloremque nihil earum dolorum est vero non
      laudantium quam atque distinctio perferendis aperiam eius soluta
      perspiciatis laborum, eligendi voluptate quis itaque, esse necessitatibus
      hic! Labore, veritatis? Repellat ducimus reiciendis quae, accusamus
      inventore quam provident, molestiae atque blanditiis exercitationem in!
      Temporibus quasi cum nihil obcaecati fugiat porro tempore sit, ad
      expedita, ea quod voluptate eius mollitia consequatur! Similique optio
      itaque laborum ut impedit dolores, recusandae voluptate, eligendi suscipit
      eius numquam ea corporis iure dolore! Reprehenderit laborum inventore,
      voluptatibus repellendus modi consectetur aut voluptas nisi quisquam
      commodi natus? Tempora cum ratione, repudiandae asperiores doloremque
      laboriosam libero culpa veritatis sint placeat rerum maxime sit impedit
      consequuntur, autem dolor porro itaque repellendus mollitia ipsam vel.
      Amet nesciunt quos deleniti labore?
    </p>

  </body>
</html>
